body {
  background-color: #FFFDD8;
}

div {

  position: relative;
}

h1 {
  color: #045A12;
  font-size: 48px;
  text-align: left;
  margin: 0px 0px 0px 12px;
}

td {
  width: 100px;
  word-break: normal;
}

a {
  color: black;
  line-height: 75px;
  text-decoration: none;
  font-family: fantasy;
  font-size: 25px;
}



.nav {
  float: left;
  height: 100%;
  width: 5%;
  padding-left: 25px;
  position: absolute;
}

#table{
  margin: 0px 0px 0px 120px;
}

#row1, #row2, #row3, #row4, #row5 {
  border-spacing: 15px 0px;
  padding-left: 5%;
}

#columnSpace {
width: 20%;
}

#divider{
  border-width: thin;
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 35px;
}
#rNavDivid{
   border-left: thin solid;
   height: 270px;
   position: absolute;
   left: 120px;
   margin-top: 10px;
}
#lNavDivid {
  border-left: thin solid;
  height: 270px;
  position: absolute;
  left: 10px;
  margin-top: 10px;
}

#imageLettuce {
  height: 150px;
  width: 150px;
}
